---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);
import { getRelativeLocaleUrl } from "astro:i18n";

import HeroSection from "@/components/HeroSection.astro";
import FeaturesGeneral from "@/components/FeaturesGeneral.astro";
import ClientsSection from "@/components/TestimonialCompany.astro";
import Activity from "@/components/Activity.astro";
import ShowCaseProject from "@/components/showcase-project";
import features from "@/datas/features.json";
import featureImage from "@/assets/images/section_img.png";
import BlogSection from "@/components/blogSection.astro";
import TeamSection from "@/components/team-section";
export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const tabsContent = {
  en: {
    sectionTitle: "Our Projects",
    sectionDescription:
      "Here are our latest creations showcasing client success.",
    tabs: [
      {
        title: "Mobile App",
        value: "mobile-app",
        heading: "Mobile App",
        description:
          "We build high-performance mobile apps for Android and iOS.",
        buttonLabel: "View Project",
      },
      {
        title: "Website",
        value: "website",
        heading: "Website",
        description: "Responsive and modern websites for all screen sizes.",
        buttonLabel: "View Project",
      },
      {
        title: "SaaS",
        value: "saas",
        heading: "SaaS",
        description: "Cloud-native SaaS platforms tailored to your business.",
        buttonLabel: "View Project",
      },
      {
        title: "Other",
        value: "autre",
        heading: "Other",
        description: "Custom software solutions for specific needs.",
        buttonLabel: "View Project",
      },
    ],
  },
  fr: {
    sectionTitle: "Nos projets",
    sectionDescription:
      "Voici nos dernières réalisations qui mettent en avant notre expertise.",
    tabs: [
      {
        title: "Application Mobile",
        value: "mobile-app",
        heading: "Application Mobile",
        description: "Applications mobiles performantes pour Android et iOS.",
        buttonLabel: "Voir le projet",
      },
      {
        title: "Site Web",
        value: "website",
        heading: "Site Web",
        description:
          "Sites web modernes et réactifs adaptés à tous les écrans.",
        buttonLabel: "Voir le projet",
      },
      {
        title: "SaaS",
        value: "saas",
        heading: "SaaS",
        description: "Solutions SaaS cloud adaptées à vos besoins.",
        buttonLabel: "Voir le projet",
      },
      {
        title: "Autre",
        value: "autre",
        heading: "Autre",
        description: "Solutions logicielles personnalisées.",
        buttonLabel: "Voir le projet",
      },
    ],
  },
};
const locale = Astro.currentLocale as Lang;
const projectSectionInfo = tabsContent[locale as "en" | "fr"];
---

<Layout>
  <HeroSection />
  <div class="screen-wrapper">
    <ClientsSection
      title="Fiabilité aprouvée"
      subTitle="Découvrez la fiabilité que des entreprises et startups innovantes nous font confiance pour leurs projets numériques."
    />
    <FeaturesGeneral
      title="Solutions adaptées aux exigences numériques"
      subTitle={`Chez <span class="font-bold text-secondary">Woilasoft</span>, nous relevons les défis uniques rencontrés dans le secteur technologique. Que ce soit pour des <b>logiciels</b> personnalisés, des <b>sites web</b> ou des solutions <b>SaaS</b>, nous sommes dédiés à atteindre vos objectifs.`}
      src={featureImage}
      alt="Produits Woilasoft dans des boîtes flottantes"
      features={features}
    />
  </div>
  <Activity />
  <div class="screen-wrapper mb-10">
    <ShowCaseProject
      sectionTitle={projectSectionInfo.sectionTitle}
      sectionDescription={projectSectionInfo.sectionDescription}
      tabs={projectSectionInfo.tabs}
      client:load
    />
  </div>
  <!-- <Teams /> -->
  <TeamSection client:load />
  <div class="screen-wrapper">
    <BlogSection />
  </div>
  <div
    class="relative bg-gradient-to-r from-purple-600 to-blue-600 py-20 max-sm:py-12 text-white overflow-hidden"
  >
    <div class="absolute inset-0">
      <img
        src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxjb2RlfGVufDB8MHx8fDE2OTQwOTg0MTZ8MA&ixlib=rb-4.0.3&q=80&w=1080"
        alt="Background Image"
        class="object-cover object-center w-full h-full"
      />
      <div class="absolute inset-0 bg-black opacity-70"></div>
    </div>

    <div
      class="relative z-10 flex flex-col justify-center items-center h-full text-center px-4"
    >
      <h1 class="text-5xl font-bold leading-tight mb-4 max-sm:text-3xl">
        Prêt à innover ?
      </h1>
      <p class="text-lg text-gray-300 mb-8 max-sm:text-base">
        Nous sommes prêts à vous aider à atteindre vos objectifs et à renforcer
        votre identité numérique sans crainte.
      </p>
      <button class="shiny-cta">
        <span>Contactez nous !</span>
      </button>
    </div>
  </div>
</Layout>

<style>
  :root {
    --shiny-cta-bg: #000000;
    --shiny-cta-bg-subtle: #1a1818;
    --shiny-cta-fg: #ffffff;
    --shiny-cta-highlight: blue;
    --shiny-cta-highlight-subtle: #8484ff;
  }

  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @property --gradient-angle-offset {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @property --gradient-percent {
    syntax: "<percentage>";
    initial-value: 5%;
    inherits: false;
  }

  @property --gradient-shine {
    syntax: "<color>";
    initial-value: white;
    inherits: false;
  }

  .shiny-cta {
    --animation: gradient-angle linear infinite;
    --duration: 3s;
    --shadow-size: 2px;
    isolation: isolate;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline-offset: 4px;
    padding: 1.25rem 2.5rem;
    font-family: inherit;
    font-size: 1.125rem;
    line-height: 1.2;
    border: 1px solid transparent;
    border-radius: 360px;
    color: var(--shiny-cta-fg);
    background:
      linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg)) padding-box,
      conic-gradient(
          from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
          transparent,
          var(--shiny-cta-highlight) var(--gradient-percent),
          var(--gradient-shine) calc(var(--gradient-percent) * 2),
          var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
          transparent calc(var(--gradient-percent) * 4)
        )
        border-box;
    box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

    &::before,
    &::after,
    span::before {
      content: "";
      pointer-events: none;
      position: absolute;
      inset-inline-start: 50%;
      inset-block-start: 50%;
      translate: -50% -50%;
      z-index: -1;
    }

    &:active {
      translate: 0 1px;
    }
    @media only screen and (max-width: 400px) {
      & {
        font-size: 1rem;
        padding: 1rem 2rem;
      }
    }
  }

  /* Dots pattern */
  .shiny-cta::before {
    --size: calc(100% - var(--shadow-size) * 3);
    --position: 2px;
    --space: calc(var(--position) * 2);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
        circle at var(--position) var(--position),
        white calc(var(--position) / 4),
        transparent 0
      )
      padding-box;
    background-size: var(--space) var(--space);
    background-repeat: space;
    mask-image: conic-gradient(
      from calc(var(--gradient-angle) + 45deg),
      black,
      transparent 10% 90%,
      black
    );
    border-radius: inherit;
    opacity: 0.4;
    z-index: -1;
  }

  /* Inner shimmer */
  .shiny-cta::after {
    --animation: shimmer linear infinite;
    width: 100%;
    aspect-ratio: 1;
    background: linear-gradient(
      -50deg,
      transparent,
      var(--shiny-cta-highlight),
      transparent
    );
    mask-image: radial-gradient(circle at bottom, transparent 40%, black);
    opacity: 0.6;
  }

  .shiny-cta span {
    z-index: 1;

    &::before {
      --size: calc(100% + 1rem);
      width: var(--size);
      height: var(--size);
      box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
      opacity: 0;
    }
  }

  /* Animate */
  .shiny-cta {
    --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
    transition: var(--transition);
    transition-property: --gradient-angle-offset, --gradient-percent,
      --gradient-shine;

    &,
    &::before,
    &::after {
      animation:
        var(--animation) var(--duration),
        var(--animation) calc(var(--duration) / 0.4) reverse paused;
      animation-composition: add;
    }

    span::before {
      transition: opacity var(--transition);
      animation: calc(var(--duration) * 1.5) breathe linear infinite;
    }
  }

  .shiny-cta:is(:hover, :focus-visible) {
    --gradient-percent: 20%;
    --gradient-angle-offset: 95deg;
    --gradient-shine: var(--shiny-cta-highlight-subtle);

    &,
    &::before,
    &::after {
      animation-play-state: running;
    }

    span::before {
      opacity: 1;
    }
  }

  @keyframes gradient-angle {
    to {
      --gradient-angle: 360deg;
    }
  }

  @keyframes shimmer {
    to {
      rotate: 360deg;
    }
  }

  @keyframes breathe {
    from,
    to {
      scale: 1;
    }
    50% {
      scale: 1.2;
    }
  }
</style>
