---
// Basic Layout for All Pages

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import LocaleHtmlHead from "@/components/i18n/LocaleHtmlHead.astro";
import LocaleSuggest from "@/components/i18n/LocaleSuggest.astro";

import { SITE_TITLE, SITE_DESCRIPTION, X_ACCOUNT } from "@/consts";
import { useTranslations, LOCALES, getLocalePaths, type Lang } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: undefined;
}

const {
  title,
  description,
} = Astro.props.frontmatter || Astro.props;

const locale = Astro.currentLocale as Lang;
const localeTitle = title ? `${title} - ${t(SITE_TITLE)}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);

import { join } from "node:path";
import { AstroFont } from "astro-font";
---

<!--

  Source Code:
  https://github.com/psephopaiktes/astro-i18n-starter

-->
<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
  <head>
    <meta charset="UTF-8" />
    <title>{localeTitle}</title>
    <meta name="description" content={localeDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }
    <AstroFont
    config={[
      {
        name: "Raleway",
        src: [
          {
            style: 'normal',
            weight: '100',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-Thin.ttf')
          },
          {
            style: 'normal',
            weight: '200',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-ExtraLight.ttf')
          },
          {
            style: 'normal',
            weight: '300',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-Light.ttf')
          },
          {
            style: 'normal',
            weight: '400',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-Regular.ttf')
          },
          {
            style: 'normal',
            weight: '500',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-Medium.ttf')
          },
          {
            style: 'normal',
            weight: '600',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-SemiBold.ttf')
          },
          {
            style: 'normal',
            weight: '700',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-Bold.ttf')
          },
          {
            style: 'normal',
            weight: '800',
            path: join(process.cwd(), 'public', 'fonts', 'Raleway-ExtraBold.ttf')
          },

        ],
        preload: false,
        display: "swap",
        selector: "body",
        fallback: "sans-serif",
      }
    ]}
  />

    <!-- icon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon alternate" sizes="64x64" type="image/png" href="/favicon.png">
    <link rel="icon" sizes="192x192" href="/android-chrome.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="color-scheme" content="light dark" />

    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={localeTitle} />
    <meta property="og:site_name" content={localeTitle} />
    <meta property="og:description" content={localeDescription} />
    <meta property="og:image" content={Astro.site + "ogp.png"} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content={LOCALES[locale].lang || locale} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={t(X_ACCOUNT)} />

    <!-- External Resource -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap" media="print" onload={`this.media='all'`} />

    <link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp&display=swap" media="print" onload={`this.media='all'`} /> -->

    <LocaleHtmlHead />
  </head>

  <body>
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-ssecondary to-ssecondary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <LocaleSuggest />
    <Header />
    <main class="min-h-[100vh]">
      <slot />
    </main>

    <Footer />

    { import.meta.env.DEV && <style>:root { scroll-behavior: auto }</style> }
    <script src="/script.js" is:inline defer></script>
  </body>
</html>
